.centeredTabBar .sapMITBHead {
  text-align: center;
}

/* App colors */
#container-FRONTEIRAVELOZ---app--shell-BG {
  background: rgb(170, 170, 170);
  background: linear-gradient(
    180deg,
    rgba(170, 170, 170, 1) 0%,
    rgba(100, 100, 100, 1) 20%,
    rgba(45, 45, 45, 1) 70%
  );
}

.sapMITBSelected .sapMITBContentArrow::after {
  background: #d90511;
}

.sapMITBFilterIcon {
  border: 1px solid #d90511;
}

.sapMITBSelected .sapMITBFilterDefault {
  background: #d90511;
  color: #fff;
}

/* Icon default state */
.sapUiIcon {
  color: #d90511;
}

/* Button default state */
.sapMBtnInner {
  background-color: #f5f5f5 !important;
  border-color: #f5f5f5 !important;
}

/* Button hover state */
.sapMBtnInner:hover {
  background-color: #c4c3c3 !important;
  border-color: #c4c3c3 !important;
}

/* Button text */
.sapMBtnInner.sapMBtnText {
  color: #d90511 !important;
}

/* Button icon */
.sapMBtnInner.sapMBtnText .sapMBtnIcon {
  color: #d90511 !important;
}

/* Emphasized button default state */
.sapMBtnEmphasized {
  border-color: #f5f5f5 !important;
  background-color: #f5f5f5 !important;
}
